*{
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}
h1{
    font-size: x-large;
    text-decoration: underline;
}
p{
    font-style: italic;
}
table{
    height: 100%;
    width: 100%;
}
table, td, tr, th{ 
    border: 2px solid black;
    padding:5px;
    margin: auto;
    table-layout: fixed;
    border-collapse:collapse;
    text-align: left;
}
table.center {
    margin-left: auto;
    margin-right: auto;
  }
.red > td{
    background: red;
    pointer-events:none;
}  
.button input{
    width: 100%;
    padding:10px 20px;
    border:1px solid #ccc;
    font-weight:600;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-6 {width: 700px;margin: auto;}
    .button input{
        width: 700px;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For desktop: */
    select{
        font-size: 15px;
    }
  }


.partners, .win {
    background: none;
    border: none;
}

select{
    width: 100%;
}