*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}

table{
    height: 60vh;
    width: 100%;
}
table, td, th{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding:5px;
}

.wrapper{
    width: 100%;
}

.button input{
    width: 100%;
    padding:10px 20px;
    border:1px solid #ccc;
    font-weight:600;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-6 {width: 50%;margin: auto;}
  }

  table.center {
    margin-left: auto;
    margin-right: auto;
  }